alembic
aniso8601
annotated-types
blinker
cachetools
certifi
charset-normalizer
click
colorama
Flask
flask-cors
Flask-JWT-Extended
Flask-Mail
Flask-Migrate
Flask-RESTful
Flask-SQLAlchemy
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
httplib2
idna
iniconfig
itsdangerous
Jinja2
Mako
markdown-it-py
MarkupSafe
mdurl
packaging
paracelsus
pip3-autoremove
pluggy
proto-plus
protobuf
pyasn1
pyasn1_modules
pydantic
pydot
Pygments
PyJWT
pyparsing
pytest
python-dotenv
pytz
requests
rich
rsa
setuptools
shellingham
six
SQLAlchemy
tqdm
typer
typing-inspection
typing_extensions
uritemplate
urllib3
Werkzeug
gunicorn